* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
div.wrapper {
  display: flex;
  gap: 5px;
  justify-content: space-evenly;
  align-items: center;
  height: 100vh;
}
div.wrapper > div {
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
div.wrapper > div:nth-of-type(1) {
  background-color: rgb(44, 58, 44);
  cursor: pointer;
  transition: 300ms;
}
div.wrapper > div:nth-of-type(2) {
  background: #009fff; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #ec2f4b,
    #009fff
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #009fff,
    #ec2f4b
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  border-radius: 50%;
}
div.wrapper > div > span {
  font-weight: 600;
  color: rgb(166, 184, 184);
  text-shadow: 3px 3px 3px gray;
}
.circle {
  border-radius: 50%;
}
.addr {
  border-radius: 50% 50% 0% 50% / 50% 50% 0% 0%;
}
